{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

        {% if status.status != '0' %}
            {{ status.status }}

        <div class="jumbotron my-4">
         <div class="text-center">Exam will close in <span id="time"></span> minutes!</div>
        {{ course.start_time }}



          <form class="form" autocomplete="off" onsubmit="return saveAns()" method="post" enctype="multipart/form-data">
            <h1 style="display: none">{% csrf_token %}</h1>
            <h2 style="text-align: center;">Course: {{course.course_name}}</h2>
            {% for q in questions%}
            <h3 class="text-danger">{{ forloop.counter }}. {{q.question}}</h3><h4 style="text-align: right;">[{{q.marks}} Marks]</h4>



                    {% if q.questiontype == "0" %}



                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}" id="{{q.option1}}" value="{{q.option1}}">
                        <label class="form-check-label" for="option1">
                          {{q.option1}}
                        </label>
                      </div>


                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}" id="{{q.option2}}" value="{{q.option2}}">
                        <label class="form-check-label" for="option2">
                          {{q.option2}}
                        </label>
                      </div>


                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}" id="{{q.option3}}" value="{{q.option3}}">
                        <label class="form-check-label" for="option3">
                          {{q.option3}}
                        </label>
                      </div>


                      <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}" id="{{q.option4}}" value="{{q.option4}}">
                        <label class="form-check-label" for="option4">
                          {{q.option4}}
                        </label>
                      </div>

                {% elif q.questiontype == "1" %}

                    <input class="form-control"  oncopy="return false" onpaste="return false" type="text" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}">
                {% elif q.questiontype == "2" %}
                     <input class="form-control" type="file" name="{{ q.id }}_{{ q.questiontype }}_{{ course.id }}">

                {% endif %}


                {% endfor %}
                <input class="btn btn-success btn-lg" style="border-radius: 0%; margin-top: 20px;"  type="submit" value="Submit Answers">
            </form>
          </div>
<script>


function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            location.reload();
            timer = duration;
        }
    }, 1000);
}

{#var datestring = '{{ course.end_time }}';#}
{#let result = datestring.replace("T", " ");#}
{#var dateTime = convertToDateTime(result, "yyyy.MM.dd HH:mm");#}

window.onload = function () {
    var fiveMinutes = 60 * {{ time }},
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};



</script>

  {% else %}



            <div class="alert alert-danger" role="alert">
              You are already attend the exam !!!!!!!!!!!!!!!!
            </div>

  {% endif %}




<br><br><br><br><br><br>
{% endblock content %}