p
{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>

  <style>
  a:link {
        text-decoration: none;
      }

  </style>
</head>
<h2 style="text-align:center;">Add Question</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="question">Exam</label>

      {% render_field questionForm.courseID|attr:'required:true' class="form-control"  %}
        <br>

         <label for="question">Question Type</label>

      {% render_field questionForm.questiont class="form-control" id="typesel" %}
        <br>

      <label for="question">Question</label>
      {% render_field questionForm.question class="form-control" placeholder="Example: What is the relation calculus?" %}
        <br>
      <label for="question_number">Marks</label>
      {% render_field questionForm.marks class="form-control" placeholder="Example: 5" %}
        <br>

        <div class="containerr" id="mcqsec">
      <label for="option1">Option 1</label>
      {% render_field questionForm.option1 class="form-control" placeholder="Example: It is a kind of procedural language" %}
        <br>
      <label for="option2">Option 2</label>
      {% render_field questionForm.option2 class="form-control" placeholder="Example: It is a non-procedural language" %}
        <br>
      <label for="option3">Option 3</label>
      {% render_field questionForm.option3 class="form-control" placeholder="Example: It is a high-level language" %}
        <br>
      <label for="option4">Option 4</label>
      {% render_field questionForm.option4 class="form-control" placeholder="Example: It is Data Definition language" %}
        <br>
      <label for="answer">Correct Answer</label>
      {% render_field questionForm.answer class="form-control" id="mySelect" onchange="myFunction()" %}
        </div>


    </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Submit Question</button>
  </form>
<br><br><br>

    <script>




    $("#typesel").change(function () {

        var typeselvalue = $("#typesel option:selected").val();
    if (typeselvalue == 0)
    {
        $('#mcqsec').show()
    }
    else {
        $('#mcqsec').hide()
    }
});
    </script>

{% endblock content %}
